@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>CascadeDropdown</h1><hr /><br />

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post">
                <div class="form-group">
                    <label>Country:</label>
                    <select class="form-control mt-1" id="Country">
                        <option value="0">--Select Country--</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label>State:</label>
                    <select class="form-control mt-1" id="State">
                        <option value="0">--Select State--</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label>City:</label>
                    <select class="form-control mt-1" id="City">
                        <option value="0">--Select City--</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-md btn-primary float-end">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
<script src="~/lib/jquery/dist/jquery.slim.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/cascadedropdown.js"></script>